@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Message</h2>

<div class="row">
    <div class="col-md-4">
        <h1> </h1>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Authors</h3>
            </div>
            <div class="panel-body">
                <div>
                    <ul>                        
                        <li><span class="label label-info">@ViewBag.AuthorOne</span> - <a href="@ViewBag.GithubOne">Github</a></li>
                        <li><span class="label label-info">@ViewBag.AuthorTwo</span> - <a href="@ViewBag.GithubTwo">Github</a></li>                                  
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>